name: Deploy to GitHub Pages

permissions:
  contents: write
  pages: write

on:
  push:
    branches: [ "main", "master" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2 # Checks-out your repository under $GITHUB_WORKSPACE, so your job can access it
      
      - name: Set up Python r
        uses: actions/setup-python@v2
        with:
          python-version: '3.10.14' 

      - name: Install dependencies 
        run: |
          python -m pip install --upgrade pip
          pip install numpy
          # If you have a requirements.txt, uncomment the next line
          # pip install -r requirements.txt
          
      - uses: fastai/workflows/quarto-ghp@master
